### LaTeX ###
*.acn
*.acr
figures/pressure-eps-converted-to.pdf
figures/3dEpanechnikov-eps-converted-to.pdf
figures/class-eps-converted-to.pdf
figures/Pressure-eps-converted-to.pdf
*.latexmain
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lox
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.orig
*main.pdf
*.sublime-project
*.sublime-workspace
